<div class="ad-container">
  <script is:inline>
    atOptions = {
      'key' : '0979dde071f0674cbe2b7d32766fab64',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/0979dde071f0674cbe2b7d32766fab64/invoke.js"></script>
</div>

<style>
  .ad-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
</style>
