---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Future Voters Academy. All rights reserved.
	<div class="contact-link">
		Contact: <a href="mailto:fva.info.contact@gmail.com">fva.info.contact@gmail.com</a>
		&nbsp;|&nbsp;
		<a href="/privacy">Privacy Policy</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: rgb(var(--black));
		color: rgb(var(--gray-light));
		text-align: center;
		font-size: 0.9em;
		letter-spacing: 0.02em;
		border-top: 3px solid rgb(var(--gray-dark));
	}
	.contact-link {
		margin-top: 0.5em;
	}
	.contact-link a {
		color: rgb(var(--gray-light));
	}
	.contact-link a:hover {
		color: #ffffff;
	}
</style>
