---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Future Voters Academy. All rights reserved.
	<div class="contact-link">
		Contact us: <a href="mailto:fva.info.contact@gmail.com">fva.info.contact@gmail.com</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.contact-link {
		margin-top: 0.5em;
	}
	.contact-link a {
		color: rgb(var(--gray));
	}
	.contact-link a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
